@use './var/colors.scss';
@use './config/reset.scss';
@use './var/breackpoint.scss';

body{
    background-color: colors.$secColor;
}

header{
    background-color: colors.$firstColor;
    position: sticky;
    top: 0;
    left: 0;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
    }
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}
li {
    list-style: none;
}

.menu {
    display: flex;
    li{
        font-weight: bold;
        margin-left: 24px;
        a{
            color: colors.$white;
            text-decoration: none;
        }
    }
}

section {
    padding: 56px 0;
}

.products {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 32.66%);
    column-gap: 1%;
    row-gap: 4%;
    width: 100%;
    .product-item img {
        width: 100%;
        border-radius: 16px;
    }
    .product-button {
        display: block;
        background-color: colors.$btnColor;
        color: colors.$white;
        text-align: center;
        padding: 8px 0;
        border-radius: 8px;
        margin-top: 8px;
        text-decoration: none;
        &:hover{
            background-color: darken(colors.$btnColor, 15%);
        }
    }
}
@media screen and (max-width: breackpoint.$tablet) {
    .container {
        max-width: 80%;
    }
    .products {
        grid-template-columns: repeat(2, 48.5%);
        column-gap: 3%;
    }
}

@media screen and (max-width:breackpoint.$mobile){
    .products {
        display: block;
    }

    .product-item  {
        margin-bottom: 32px;
    }
}